body{
    margin:0%;
    background-color:rgb(255, 204, 153);
}

#nav{
    background-color:rgb(53, 51, 51);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.logo-size{
    width: 30%;
    padding:0.55%;
    background-color: antiquewhite;
}

#twoside {
    display: flex;
    flex-direction: row;
}
.profile{
    padding:20px;
    width:49.33%;
}

#profileimg{
    border: 4px solid black;
    border-radius: 20px;
    width: 80%;
    display: block;
    margin-right:auto;
    margin-left:auto;
}

#mebox{
    width:49.33%;
    text-align: center;
    border:4px solid black;
}

.title{
    background-color: grey;
    color:white;
    padding: 10px;
}

#img{
    width:100%;
    height: 50%;
}

.column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2% 2%;
}


.card{
    background-color: azure;
    border: 4px solid black;
    padding: 0.4% 0.4%;
    display: block;
    
}

.linkbox{
    background-color: grey; 
    font-size: 15px;
    padding:1%;

    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border: 4px solid black;
    border-radius: 4px;
}

#project{
    background-color:coral;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top:6%;
    padding-bottom: 8%;
    border:6px solid orange;
    border-radius: 2px;
}

#projecthead{
    text-align: center;
    background-color: rgb(53, 51, 51);
    padding:20px;
    border: 4px solid black;
    color:white;
}

.project-btn{
    background-color: aliceblue;
    display: block;
    margin-left: 10.33%;
    padding: 1.5% 1.5%;
    border:4px solid black;
    border-radius: 5%;
    font-size: 20px;
}

.row1{
    font-size: 130%;
    margin-left: 10.33%;
    padding: 0% 2%;
    
}



a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
